.App {
  background-color: #282c34;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resizable {
  resize: both;
  overflow: auto;
  border: 2px dashed white;
  padding: 1rem;
  width: 300px;
  height: 400px;
}

h1,
h2,
label {
  color: white;
}

label {
  min-width: 4em;
}
